# Ignore everything
/*

# But include the following directories and files
!/src
!/rabbitmq
!composer.json
!composer.lock

# Include these files
!.editorconfig
!.gitignore
!.dockerignore
!docker-compose.yml
!Dockerfile
!Makefile
!README.md